body {
  background-color: var(--primary-color);
  font-size: calc(14px + 1vw);
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited);
}

.socialMedia {
  margin: 10px;
  width: 20vw;
  height: 20vw;
  min-width: 320px;
  min-height: 320px;
  align-items: center;
  border-radius: 20%;
  box-shadow: 10px 10px 10px var(--box-shadow-color);
  transition: ease-in 0.2s;
}

.socialMedia:hover {
  transition: ease-out 0.2s;
  background-color: var(--hover-color) !important;
}

.socialMedia a {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20%;
}

.socialMedia img {
  width: 80%;
}

.Home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}