body {
  font-size: calc(14px + 1vw);
  background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  background-attachment: fixed;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited);
}

.socialMedia {
  margin: 10px;
  width: 20vw;
  height: 20vw;
  min-width: 320px;
  min-height: 320px;
  align-items: center;
  border-radius: 20%;
  box-shadow: 10px 10px 10px var(--box-shadow-color);
  transition: ease-in 0.2s;
}

.socialMedia:hover {
  transition: ease-out 0.2s;
  background-color: var(--hover-color) !important;
}

.socialMedia a {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20%;
}

.socialMedia img {
  width: 80%;
}

@media screen and (max-width: 768px) {
  .Home {
    height: auto !important;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 330px) {
  .socialMedia {
    min-width: auto;
    width: 100vw;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    word-break: break-word;
    text-align: center;
  }
}

.Home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}