body {
  font-size: calc(14px + 1vw);
  background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  background-attachment: fixed;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited);
}

.socialMedia {
  margin: 10px;
  width: 20vw;
  height: 20vw;
  min-width: 320px;
  min-height: 320px;
  align-items: center;
  border-radius: 20%;
  box-shadow: 10px 10px 10px var(--box-shadow-color);
  transition: ease-in 0.2s;
  word-break: break-word;
  text-align: center;
}

.socialMedia span {
  width: 80%;
  position: absolute;
  top: 1px;
}

.socialMedia:hover {
  transition: ease-out 0.2s;
  background-color: var(--hover-color) !important;
  animation: shake 0.2s infinite;
}

.socialMedia a {
  color: var(--primary-text-color);
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20%;
  text-decoration: none;
}

.socialMedia a img {
  position: absolute;
  width: 80%;
  transition: ease 0.5s;
  bottom: 1px;
}

.socialMedia:hover img {
  transform: scale(0.5);
  transition: ease 0.5s;
}

@keyframes shake {
  0% {
    rotate: 0deg;
  }

  25% {
    rotate: 1deg;
  }

  50% {
    rotate: -1deg;
  }

  75% {
    rotate: 1deg;
  }

  100% {
    rotate: 0deg;
  }
}

@media screen and (max-width: 768px) {
  .Home {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 330px) {
  .socialMedia {
    min-width: auto;
    width: 100vw;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    word-break: break-word;
    text-align: center;
  }
}

.SocialMedias {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.total-center {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.LoadingScreen {
  width: calc(14px + 10vw);
  height: calc(14px + 10vw);
  border: 10px solid #ccc;
  border-radius: 100%;
  border-top: 10px solid var(--hover-color);
  border-left: 10px solid var(--hover-color);
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg)
  }
}

.Greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-break: break-word;
}