body {
  background-color: var(--primary-color);
  font-size: calc(14px + 1vw);
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited);
}

.socialMedia {
  margin: 10px;
  width: 20vw;
  height: 20vw;
  min-width: 320px;
  min-height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  box-shadow: 10px 10px 10px var(--box-shadow-color);
  background-image: linear-gradient(var(--primary-color), var(--secondary-color));
  transition: background-image 2s ease;
}

.socialMedia:hover {
  background-image: linear-gradient(var(--primary-color), var(--hover-color));
}


.socialMedia a {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20%;
  text-decoration: none;
}

.socialMedia img {
  width: 80%;
}

.Home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}