:root {
  --primary-color: #0C0C0C;
  --secondary-color: #481E14;
  --hover-color: #9B3922;
  --primary-text-color: #DDDDDD;
  --secondary-text-color: #222222;
  --box-shadow-color: #F2613F;
  --link-color: #00DDDD;
  --link-visited: #007bff;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-justify-c-center {
  justify-content: center !important;
}

.flex-align-i-center {
  align-items: center !important;
}

.b-primary-color {
  background-color: var(--primary-color) !important;
}

.b-secondary-color {
  background-color: var(--secondary-color) !important;
}

.f-primary-color {
  color: var(--primary-color) !important;
}

.f-secondary-color {
  color: var(--secondary-color) !important;
}

.text-primary {
  color: var(--primary-text-color) !important;
}

.text-secondary {
  color: var(--secondary-text-color) !important;
}